/* #####MOBILE PROFILE IMAGE##### */

#profile-bg {
  display: none;
}
#profile-face {
  max-width: 350px;
  border-radius: 50%;
  border: 3px solid #ababab;
  object-fit: contain;
}

/* #####MAIN CONTENT##### */

.container {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 20px;
  gap: 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

h1,
h2 {
  text-align: center;
  font-weight: 900;
}

h1 a {
  color: #b80b17;
}

h2 a {
  color: #ff6600;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px), only screen and (max-width: 1920px) {
  #burger-menu {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 60px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 0px;
    gap: 0px;
  }

  main {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .img-container {
    display: inline-block;
    position: relative;
    left: 100px;
    background:linear-gradient(to left, black, transparent);
  }

  #profile-bg {
    z-index: -1;
    position: relative;
    /* left: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 546px;
    object-fit: cover;
    
  }

  #profile-face {
    display: none;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 5rem;
    color: #b80;
  }

  h2 a {
    color: #b80;
  }
  .name,
  .front-end,
  .web,
  .developer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .name span,
  .front-end span,
  .web span,
  .developer span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .name:before,
  .name:after,
  .front-end:before,
  .front-end:after,
  .web:before,
  .web:after,
  .developer:before,
  .developer:after {
    content: "";
    position: absolute;

    left: 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.4s, opacity 0.6s;
    -moz-transition: 0.4s, opacity 0.6s;
    -o-transition: 0.4s, opacity 0.6s;
    transition: 0.4s, opacity 0.6s;
  }

  /* :before */

  .name:before,
  .front-end:before,
  .web:before,
  .developer:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(350%, 0);
  }

  /*  
        We show :before pseudo-element on :hover 
        and :after pseudo-element on :active 
    */

  .name:hover:before,
  .name:active:after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(30%, 0);
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  .front-end:hover:before,
  .front-end:active:after,
  .web:hover:before,
  .web:active:after,
  .developer:hover:before,
  .developer:active:after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(75%, 0);
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  /* 
      We hide :before pseudo-element on :active
    */

  .name:active:before,
  .front-end:active:before,
  .web:active:before,
  .developer:active:before {
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  /* Span on :hover and :active */

  .name:hover span,
  .name:active span,
  .front-end:hover span,
  .front-end:active span,
  .web:hover span,
  .web:active span,
  .developer:hover span,
  .developer:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@media screen and (min-width: 1920px) {
  .img-container {
    left: 300px;
  }

  h1 {
    font-size: 12rem;
  }
}